<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened (openedChange)="term.winChange()">
        <mat-action-list>
            <div class="contitle">&nbsp;&nbsp;连接列表</div>
            <mat-list-item *ngFor="let item of cons">
                <img matListAvatar src="./assets/{{item.user}}.png" alt="user" title="{{ item.user | username }}">
                <button type="button" mat-list-item (click)="connect(item.code)">{{ item.name + '(' + item.code + ')' }}</button>
                <button type="button" *ngIf="item.user" mat-icon-button (click)="kickout(item.code)">
                    <mat-icon svgIcon="delete"></mat-icon>
                </button>
            </mat-list-item>
        </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-card class="home-card">
            <mat-card-header>
                <img mat-card-avatar src="./assets/{{usercode}}.png" [matMenuTriggerFor]="menu"/>
                <button type="button" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!sidenav.opened" svgIcon="zdopen"></mat-icon>
                    <mat-icon *ngIf="sidenav.opened" svgIcon="zdclose"></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button type="button" mat-menu-item (click)="logout()">注销</button>
                </mat-menu>
                <mat-card-title>{{ usercode }}</mat-card-title>
                <mat-card-subtitle style="margin-bottom: 0; white-space: nowrap;">👨‍💻{{ getDevName(device) }}</mat-card-subtitle>
                <div class="close">
                    <div class="movebar"></div>
                    <button type="button" mat-icon-button (click)="close()">&times;</button>
                </div>
            </mat-card-header>
            <mat-card-content>
                <app-term #term [devcode]="device"></app-term>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>